main {
  background-image: url('../assets/index-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-color {
  background-color: #127045;
  color: #fff;
}

.btn-color:hover {
  background-color: #127045;
  color: #fff;
}

.profile-image-pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.cardbody-color {
  background-color: #ffffff;
}

a {
  color: #127045;
}

a:hover {
  color: #1a9c62;
}

form {
  padding-top: 10px;
  padding-bottom: 10px;
}