main {
  background-image: url('../assets/bg/lisbon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.airline-logo {
  width: 25%;
  padding: 10px;
}

.airline-name {
  margin-bottom: 0 !important;
}

.flight-card {
  margin: 2rem;
}

.flight-number {
  padding: 0px;
  margin: 0px;
}
 p{
  margin: 0px;
 }